<nz-tabset>
  <nz-tab nzTitle="Position">
    <app-position-info></app-position-info>
  </nz-tab>
  <nz-tab nzTitle="Personal">Content of Tab Personal</nz-tab>
  <nz-tab nzTitle="Salary history">Content of Tab Salary history</nz-tab>
  <nz-tab nzTitle="Family deduction">Content of Tab Family deduction</nz-tab>
  <nz-tab nzTitle="Bank account">Content of Tab Bank account</nz-tab>
  <nz-tab nzTitle="Quit job history">Content of Tab Quit job history</nz-tab>
  <nz-tab nzTitle="Other">Content of Tab Other</nz-tab>
</nz-tabset>
