.container {

  .logo {
    width: 100%;
  }

  .menu-container {
    height: calc(100vh - 65px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .menu-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}